.navbar{
    grid-area: n;
    background-color: #626260;
    padding: 20px;
}
.item{
    margin: 10px;
    color: white;
    text-decoration: none;

}
.activeLink{
    color: lightgreen;
    text-decoration: none;
}
