.header{
    grid-area: h;
    background-color: #c4c4c4;
}
.header img{
    width: 50px;
    border-radius: 50px;
}
.dialog{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}